In [ ]:
import pandas as pd 
import sklearn as sk
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df.head(5)
# Showing top 5 values of our dataset

            0         1       2   ...       9      10        11
0  PassengerId  Survived  Pclass  ...     Fare  Cabin  Embarked
1            1         0       3  ...     7.25                S
2            2         1       1  ...  71.2833    C85         C
3            3         1       3  ...    7.925                S
4            4         1       1  ...     53.1   C123         S

[5 rows x 12 columns]

In [ ]:
df.tail(5)
# Shows last 5 values of our dataset

      0  1  2   ...     9     10 11
887  887  0  2  ...     13        S
888  888  1  1  ...     30   B42  S
889  889  0  3  ...  23.45        S
890  890  1  1  ...     30  C148  C
891  891  0  3  ...   7.75        Q

[5 rows x 12 columns]

In [ ]:
df.describe()
# Shows different parameters as shown below

                 0    1    2     3     4    5    6    7     8     9    10   11
count           892  892  892   892   892  892  892  892   892   892  892  892
unique          892    3    4   892     3   90    8    8   682   249  149    5
top     PassengerId    0    3  Name  male         0    0  1601  8.05         S
freq              1  549  491     1   577  177  608  678     7    43  687  644

In [ ]:
df.index
# Tells us the length of indices

RangeIndex(start=0, stop=892, step=1)

In [ ]:
df.info
# Tells us the information about the data

<bound method DataFrame.info of               0         1       2   ...       9      10        11
0    PassengerId  Survived  Pclass  ...     Fare  Cabin  Embarked
1              1         0       3  ...     7.25                S
2              2         1       1  ...  71.2833    C85         C
3              3         1       3  ...    7.925                S
4              4         1       1  ...     53.1   C123         S
..           ...       ...     ...  ...      ...    ...       ...
887          887         0       2  ...       13                S
888          888         1       1  ...       30    B42         S
889          889         0       3  ...    23.45                S
890          890         1       1  ...       30   C148         C
891          891         0       3  ...     7.75                Q

[892 rows x 12 columns]>

In [ ]:
len(df)
# Tells us the length of data

892

In [ ]:
df.loc[3]
# If you look carefully we can see all the values of row "3rd" 
# Horizontally..

0                          3
1                          1
2                          3
3     Heikkinen, Miss. Laina
4                     female
5                         26
6                          0
7                          0
8           STON/O2. 3101282
9                      7.925
10
11                         S
Name: 3, dtype: object

In [ ]:
df.iloc[4:10]
# Selecting rows, Or we can rather say "Slicing rows"..

  0  1  2   ...       9     10 11
4  4  1  1  ...     53.1  C123  S
5  5  0  3  ...     8.05        S
6  6  0  3  ...   8.4583        Q
7  7  0  1  ...  51.8625   E46  S
8  8  0  3  ...   21.075        S
9  9  1  3  ...  11.1333        S

[6 rows x 12 columns]

### What is the difference b/w ".loc" and ".iloc"

![loc v/s iloc](https://i2.wp.com/sparkbyexamples.com/wp-content/uploads/2021/10/pandas-difference-loc-vs-iloc.png?resize=840%2C353&ssl=1)

In [ ]:
df.iloc()
# This prints only the class object... in order to use it we can 
# refer above table...

In [ ]:
df.head

<bound method NDFrame.head of               0         1       2   ...       9      10        11
0    PassengerId  Survived  Pclass  ...     Fare  Cabin  Embarked
1              1         0       3  ...     7.25                S
2              2         1       1  ...  71.2833    C85         C
3              3         1       3  ...    7.925                S
4              4         1       1  ...     53.1   C123         S
..           ...       ...     ...  ...      ...    ...       ...
887          887         0       2  ...       13                S
888          888         1       1  ...       30    B42         S
889          889         0       3  ...    23.45                S
890          890         1       1  ...       30   C148         C
891          891         0       3  ...     7.75                Q

[892 rows x 12 columns]>

In [ ]:
df.head

<bound method NDFrame.head of               0         1       2   ...       9      10        11
0    PassengerId  Survived  Pclass  ...     Fare  Cabin  Embarked
1              1         0       3  ...     7.25                S
2              2         1       1  ...  71.2833    C85         C
3              3         1       3  ...    7.925                S
4              4         1       1  ...     53.1   C123         S
..           ...       ...     ...  ...      ...    ...       ...
887          887         0       2  ...       13                S
888          888         1       1  ...       30    B42         S
889          889         0       3  ...    23.45                S
890          890         1       1  ...       30   C148         C
891          891         0       3  ...     7.75                Q

[892 rows x 12 columns]>

In [ ]:
df.drop(0, axis=1)

           1       2   ...     10        11
0    Survived  Pclass  ...  Cabin  Embarked
1           0       3  ...                S
2           1       1  ...    C85         C
3           1       3  ...                S
4           1       1  ...   C123         S
..        ...     ...  ...    ...       ...
887         0       2  ...                S
888         1       1  ...    B42         S
889         0       3  ...                S
890         1       1  ...   C148         C
891         0       3  ...                Q

[892 rows x 11 columns]

In [ ]:
df.head

<bound method NDFrame.head of               0         1       2   ...       9      10        11
0    PassengerId  Survived  Pclass  ...     Fare  Cabin  Embarked
1              1         0       3  ...     7.25                S
2              2         1       1  ...  71.2833    C85         C
3              3         1       3  ...    7.925                S
4              4         1       1  ...     53.1   C123         S
..           ...       ...     ...  ...      ...    ...       ...
887          887         0       2  ...       13                S
888          888         1       1  ...       30    B42         S
889          889         0       3  ...    23.45                S
890          890         1       1  ...       30   C148         C
891          891         0       3  ...     7.75                Q

[892 rows x 12 columns]>

In [ ]:
df.Passenger

AttributeError: ignored